In [11]:
import numpy as np
import pandas as pd

In [20]:
cov = pd.read_csv('covariance_matrix_daily_returns.csv')
cov = cov.drop(columns = 'Unnamed: 0')
cov = cov.set_index('ticker')

In [21]:
mean_vector = pd.read_csv('sample_mean_daily_vector.csv')
mean_vector = mean_vector.drop(columns = 'Unnamed: 0')

In [22]:
new_cov = cov.copy()

In [23]:
N = 252
tickers = cov.keys()
for j in cov.keys():
    mu_j = mean_vector[j][0]    # the columns
    for i in tickers:
        mu_i = mean_vector[i][0]    #the rows
        cov_ij = cov[j][i]
        value = ((cov_ij + (mu_i + 1)*(mu_j + 1))**N) -((mu_i + 1)**N)*((mu_j + 1)**N)
        new_cov[j][i] = value
        print(cov_ij, value)
        break
    break

0.0014253778140641 0.6900316037889016

In [24]:
cov

,gnk,bbby,hcci,skm,cs,azn,nvda,epac
ticker,,,,,,,,
gnk,0.001425,0.000338,0.000400,0.000117,0.000350,0.000118,0.000321,0.000335
bbby,0.000338,0.003872,0.000448,0.000176,0.000378,0.000072,0.000443,0.000406
hcci,0.000400,0.000448,0.000998,0.000142,0.000379,0.000120,0.000322,0.000380
skm,0.000117,0.000176,0.000142,0.000404,0.000153,0.000065,0.000152,0.000127
cs,0.000350,0.000378,0.000379,0.000153,0.000542,0.000109,0.000327,0.000302
azn,0.000118,0.000072,0.000120,0.000065,0.000109,0.000260,0.000163,0.000091
nvda,0.000321,0.000443,0.000322,0.000152,0.000327,0.000163,0.001011,0.000283
epac,0.000335,0.000406,0.000380,0.000127,0.000302,0.000091,0.000283,0.000584

In [25]:
new_cov

,gnk,bbby,hcci,skm,cs,azn,nvda,epac
ticker,,,,,,,,
gnk,0.690032,0.000338,0.000400,0.000117,0.000350,0.000118,0.000321,0.000335
bbby,0.000338,0.003872,0.000448,0.000176,0.000378,0.000072,0.000443,0.000406
hcci,0.000400,0.000448,0.000998,0.000142,0.000379,0.000120,0.000322,0.000380
skm,0.000117,0.000176,0.000142,0.000404,0.000153,0.000065,0.000152,0.000127
cs,0.000350,0.000378,0.000379,0.000153,0.000542,0.000109,0.000327,0.000302
azn,0.000118,0.000072,0.000120,0.000065,0.000109,0.000260,0.000163,0.000091
nvda,0.000321,0.000443,0.000322,0.000152,0.000327,0.000163,0.001011,0.000283
epac,0.000335,0.000406,0.000380,0.000127,0.000302,0.000091,0.000283,0.000584