In [1]:
import numpy as np
import pandas as pd

In [2]:
cov = pd.read_csv('covariance_matrix.csv')

In [3]:
cov = cov.drop(columns = 'Unnamed: 0')

In [4]:
cov = cov.set_index('ticker')

In [5]:
cov

,gnk,bbby,hcci,skm,cs,azn,nvda,epac
ticker,,,,,,,,
gnk,21.564393,7.283269,12.309294,-5.756283,-3.699479,27.328256,221.423515,0.750847
bbby,7.283269,44.376124,6.575031,31.690628,6.925745,2.598469,161.594026,10.816461
hcci,12.309294,6.575031,26.081377,1.718098,-4.050318,23.609858,173.503340,3.149061
skm,-5.756283,31.690628,1.718098,61.874360,12.740018,-35.854970,-68.128635,16.797741
cs,-3.699479,6.925745,-4.050318,12.740018,7.906414,-24.945692,-104.830401,5.756062
azn,27.328256,2.598469,23.609858,-35.854970,-24.945692,128.789432,683.651436,-17.271940
nvda,221.423515,161.594026,173.503340,-68.128635,-104.830401,683.651436,5460.240278,-67.170234
epac,0.750847,10.816461,3.149061,16.797741,5.756062,-17.271940,-67.170234,10.197614

In [6]:
cov['gnk']['bbby']

7.283268624743325

In [7]:
tickers = cov.keys()
mean_vector = pd.read_csv('sample_mean_daily_vector.csv')

In [8]:
mean_vector

,Unnamed: 0,gnk,bbby,hcci,skm,cs,azn,nvda,epac
0,0,0.000935,0.000906,0.000732,-0.000369,-0.000758,0.000624,0.001311,0.000008

In [9]:
mean_vector = mean_vector.drop(columns = 'Unnamed: 0')

In [12]:
for j in cov.keys():
    mu_j = mean_vector[j][0]    # the columns
    print(j)
    for i in tickers:
        print(i)
        mu_i = mean_vector[i][0]    #the rows
        break

gnk
gnk
bbby
gnk
hcci
gnk
skm
gnk
cs
gnk
azn
gnk
nvda
gnk
epac
gnk

In [11]:
mu_i

0.0009349088039275